include *.rst *.toml
graft .github
recursive-include src *.py
recursive-include tests *.py
recursive-include tests/test_files img*
prune tests/test_files/source
recursive-exclude tests *.pyc
include versioneer.py
