tqdm>=4.59.0
click>=7.1.2
orjson>=3.5.2
zstandard>=0.15.2
xxhash>=2.0.2
blake3>=0.2.1
pytest
pytest-cov
pytest-datafiles
tox
black
isort
flake8
flake8-black
coverage
twine
build
mypy
types-pillow
types-tqdm
types-xxhash
